.card {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.blue {
  background-color: #cceeff;
}
.card.stars {
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
  background-size: cover;
}
.card.pink {
  background-color: #ffd2cc;
}

.card.green {
  background-color: #d2ffcc;
}

.card.yellow {
  background-color: #fbffcc;
}

.card.orange {
  background-color: #ffe9cc;
}

.card.purple {
  background-color: #f1ccff;
}

.card-container {
  perspective: 1000px;
}

.card.flip {
  transform: rotateY(180deg);
}

body {
  padding: 20px;
  font-family: Arial, sans-serif;
}

textarea {
  width: 300px;
  height: 100px;
}

#warning-text {
  color: red;
}